[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=ChristmasSnow
Exec=/usr/bin/single-instance /opt/ChristmasSnow/bin/ChristmasSnow
Icon=/usr/share/themes/base/meegotouch/icons/christmassnow.svg
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
